<button class="btn btn-primary">{{havij}} adsada {{ inpVal }}</button>
<button (click)="onClickR(2,true);getImageSource3(inpVal, havij);getImageSource3(inpVal, havij)">Change 1</button>
<button (click)="onClickR(1, false)">Change 2</button>
<button (click)="onClickBox2()">Change 3</button>
<a [href]="havij + 5+havij + inpVal + '10' + test5() + test4(havij)">asdsad</a>
<p>gggg</p>
<p *ngFor="let ar of arr" style="color: rgba(165,15,165,0.67)">{{ havij }}</p>
<p *ngIf="isShow">gogoooli {{ isShow }}</p>
<p *ngIf="!isShow">hjjjjjjjj {{ isShow }}</p>
<p>dasdsad {{ isShow }}</p>
<button (click)="onClickBox(3)">hhh</button>
<p *ngFor="let ar of arr2" style="color: rgba(165,15,165,0.67)">{{ getImageSource() }} havij {{ 2 * 6 }}</p>
<input type="text" (keyup)="writeInp(22, $event)">
<p>{{ inpVal }}</p>
<button (click)="onClickBox(5)">ggggg</button>
<img style="width: 15vh" [src]="getImageSource()" alt="">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a [href]="aTag">asdsad</a>
            <p>logggggin</p>
            <!--            <element-details></element-details>-->
            <div class="row">
                <div class="col-md-4">
                    <img style="width: 15vh" [src]="getImageSource()" alt="">
                </div>
                <div class="col-md-4">
                    <app-register></app-register>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>
