<button (click)="onClickBox(2, true);test();test();aTag = 444 + '9';" *ngIf="2222">Change 1</button>
<button (click)="onClickBox(1, false)" *ngIf="2222">Change 2</button>
<a [href]="aTag">asdsad</a>
<p *ngIf="isShow">isShow {{ isShow }}</p>
<button (click)="onClickBox(3)">hhh</button>
<button (click)="onClickBox(5)">ggggg</button>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <a [href]="aTag">asdsad</a>
<!--            <p>logggggin</p>-->
<!--            <element-details></element-details>-->
            <div class="row">
                <div class="col-md-4">
                    <img style="width: 15vh" [src]="getImageSource()" alt="">
                </div>
                <div class="col-md-4">
                    <app-register></app-register>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>
